html,
body {
    height: 100%;
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0, #FFFFFF),
            color-stop(1, #DFFCDD)
    );
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #DFFCDD 100%);
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #DFFCDD 100%);
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #DFFCDD 100%);
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #DFFCDD 100%);
    background-image: linear-gradient(to top, #FFFFFF 0%, #DFFCDD 100%);
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
    color: #2b44b7;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.bg-tazrum-gradient {
    background: #f0f9ff; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #f0f9ff 0%, #cbebff 75%, #cbebff 75%, #cbebff 80%, #a1dbff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f0f9ff), color-stop(75%,#cbebff), color-stop(75%,#cbebff), color-stop(80%,#cbebff), color-stop(100%,#a1dbff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #f0f9ff 0%,#cbebff 75%,#cbebff 75%,#cbebff 80%,#a1dbff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #f0f9ff 0%,#cbebff 75%,#cbebff 75%,#cbebff 80%,#a1dbff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #f0f9ff 0%,#cbebff 75%,#cbebff 75%,#cbebff 80%,#a1dbff 100%); /* IE10+ */
    background: linear-gradient(135deg,  #f0f9ff 0%,#cbebff 75%,#cbebff 75%,#cbebff 80%,#a1dbff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.panel-tazrum {
    border-color: #499BEA;
}
.panel-tazrum > .panel-heading {
    background: rgba(73,155,234,1);
    background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(51,122,183,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(51,122,183,1)));
    background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(51,122,183,1) 100%);
    background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(51,122,183,1) 100%);
    background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(51,122,183,1) 100%);
    background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(51,122,183,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#337ab7', GradientType=1 );
    color: white;
    border-color: #5C95C5;
}

a > .panel-tazrum > .panel-body  {
    color: #000;
}
a:hover,a:focus,a:active> .panel-subforum > .panel-heading,
a:hover,a:focus,a:active > .panel-subforum > .panel-body {
    text-decoration: none;
}
a:hover > .panel-subforum > .panel-body {
    background-color: #BED5E8;
}

.panel-topic-unread {
    border-color: #F1E767;
}
.panel-topic-unread > .panel-heading {
    background: rgba(241,231,103,1);
    background: -moz-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,1)));
    background: -webkit-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: -o-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: -ms-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=1 );
    color: #000;
}
a > .panel-topic-unread > .panel-body  {
    color: #000;
}
a:hover,a:focus,a:active> .panel-topic-unread > .panel-heading,
a:hover,a:focus,a:active > .panel-topic-unread > .panel-body {
    text-decoration: none;
}
a:hover > .panel-topic-unread > .panel-body {
    background-color: #FFF6E6;
}

.panel-topic-read {
    border-color: #5C95C5;
}
.panel-topic-read > .panel-heading {
    color: #fff;
    background-color: #5C95C5;
}
a > .panel-topic-read > .panel-body  {
    color: #000;
}
a:hover,a:focus,a:active> .panel-topic-read > .panel-heading,
a:hover,a:focus,a:active > .panel-topic-read > .panel-body {
    text-decoration: none;
}
a:hover > .panel-topic-read > .panel-body {
    background-color: #BED5E8;
}

.panel-shout {
    margin: 0;
    border-bottom: 1px solid #d1d1d1;
}
.panel-shout > .panel-body {
    background-color: #fff;
    padding: 0;
}

.panel-post {
    border-color: #CCCCFF;
}
.panel-post > .panel-heading {
    background: rgba(204,204,255,1);
    background: -moz-linear-gradient(left, rgba(204,204,255,1) 0%, rgba(204,204,255,1) 41%, rgba(213,140,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(204,204,255,1)), color-stop(41%, rgba(204,204,255,1)), color-stop(100%, rgba(213,140,255,1)));
    background: -webkit-linear-gradient(left, rgba(204,204,255,1) 0%, rgba(204,204,255,1) 41%, rgba(213,140,255,1) 100%);
    background: -o-linear-gradient(left, rgba(204,204,255,1) 0%, rgba(204,204,255,1) 41%, rgba(213,140,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(204,204,255,1) 0%, rgba(204,204,255,1) 41%, rgba(213,140,255,1) 100%);
    background: linear-gradient(to right, rgba(204,204,255,1) 0%, rgba(204,204,255,1) 41%, rgba(213,140,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccccff', endColorstr='#d58cff', GradientType=1 );
}

.btn-shout {
    padding: 0px 6px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-post {
    padding: 1px 6px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.navbar-default {
    background-color: #337ab7;
    border-color: #337ab7;
}
.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ffffff;
}
.navbar-default .navbar-text {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #009bf0;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #009bf0;
}
.navbar-default .navbar-toggle {
    border-color: #009bf0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #009bf0;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffffff;
}
.navbar-default .navbar-link {
    color: #ffffff;
}
.navbar-default .navbar-link:hover {
    color: #ffffff;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #009bf0;
    }
}

.pagination > li > a,
.pagination > li > span,
.pagination > li > a:hover,
.pagination > li > a:focus {
    border-color: #337ab7;
}
.pagination > li.active > a {
    background-color: #009bf0;
}

.breadcrumb {background: rgba(247, 255, 248, 1); border: 1px solid rgba(179, 230, 179, 1); border-radius: 4px; display: block;}
.breadcrumb li {font-size: 14px;}
.breadcrumb a {color: rgba(66, 139, 202, 1);}
.breadcrumb a:hover {color: rgba(42, 100, 150, 1);}
.breadcrumb>.active {color: rgba(0, 0, 0, 1);}
.breadcrumb>li+li:before {color: rgba(204, 204, 204, 1); content: "\002F\00a0";}

.table-bordered {
    border: 1px solid #5C95C5;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tfoot > tr > td,
.table-bordered > thead > tr > th > A {
    background-color: #5C95C5;
    color: #fff;
    font-weight: normal;
    border: 1px solid #5C95C5;
}
.table-striped > tbody > tr:nth-child(even) {
    background-color: #fff;
}
.table-striped > tbody > tr:nth-child(odd) {
    background-color: #F5FAFF;
}

.glyphicon-unread {
    color: #ffab72;
}